In [15]:
import pandas as pd
import numpy as np

In [16]:
df_flights = pd.read_csv("converted_datasets/flights_new.csv", encoding="utf-8", encoding_errors="replace") 
print(df_flights.dtypes)
print(f"NaN Values: {df_flights.isna().sum().sum()}")

Airline                    object
Departure Airport Code     object
Dep Airport Name           object
Arrival Airport Code       object
Arr Airport Name           object
Departure Date & Time      object
Arrival Date & Time        object
Duration (hrs)            float64
Stopovers                  object
Aircraft Type              object
Class                      object
Booking Source             object
Seasonality                object
Days Before Departure       int64
City Arr                   object
Country Arr                object
City Dep                   object
Country Dep                object
Base Fare (EUR)           float64
Tax & Surcharge (EUR)     float64
Total Fare (EUR)          float64
dtype: object
NaN Values: 0

In [17]:
df_restaurants = pd.read_csv("converted_datasets/restaurants_new.csv", encoding="utf-8", encoding_errors="replace") 
print(df_restaurants.dtypes)
print(f"NaN Values: {df_restaurants.isna().sum().sum()}")

Restaurant ID             int64
Restaurant Name          object
Country Code              int64
City                     object
Address                  object
Locality                 object
Locality Verbose         object
Longitude               float64
Latitude                float64
Cuisines                 object
Average Cost for two    float64
Currency                 object
Has Table booking          bool
Has Online delivery        bool
Is delivering now          bool
Switch to order menu       bool
Price range               int64
Aggregate rating        float64
Rating color             object
Rating text              object
Votes                     int64
Country                  object
dtype: object
NaN Values: 11130

In [18]:
df_cities = pd.read_csv("converted_datasets/cities_new.csv", encoding="utf-8", encoding_errors="replace") 
print(df_cities.dtypes)
print(f"NaN Values: {df_cities.isna().sum().sum()}")

Ranking                                                            int64
City                                                              object
Country                                                           object
Remote connection: Average WiFi speed (Mbps per second)            int64
Co-working spaces: Number of co-working spaces                     int64
Caffeine: Average price of buying a coffee                       float64
Travel: Average price of taxi (per km)                           float64
After-work drinks: Average price for 2 beers in a bar            float64
Accommodation: Average price of 1 bedroom apartment per month    float64
Food: Average cost of a meal at a local, mid-level restaurant    float64
Climate: Average number of sunshine hours                          int64
Tourist attractions: Number of ‘Things to do’ on Tripadvisor       int64
Instagramability: Number of photos with #                          int64
dtype: object
NaN Values: 0

In [19]:
df_hotels = pd.read_csv("converted_datasets/hotels_new.csv", encoding="utf-8", encoding_errors="replace") 
print(df_hotels.dtypes)
print(f"NaN Values: {df_hotels.isna().sum().sum()}")

Page_URL           object
page                int64
name               object
image_url          object
price             float64
expedia           float64
agoda_com         float64
hotels            float64
number_reviews    float64
City               object
Country            object
dtype: object
NaN Values: 273

In [20]:
# Get the unique country names from df_cities
valid_countries = set(df_cities["Country"])

# Filter df_flights to keep only rows where "Country Dest" exists in df_cities["Country"]
df_flights = df_flights[df_flights["Country Arr"].isin(valid_countries)]

# Print the filtered dataframe
print(df_flights)

                  Airline Departure Airport Code  \
0      Malaysian Airlines                    CXB
2         British Airways                    ZYL
4         British Airways                    SPD
7                 AirAsia                    JSR
8          Etihad Airways                    SPD
...                   ...                    ...
56993  Singapore Airlines                    ZYL
56994     British Airways                    SPD
56995      Kuwait Airways                    JSR
56996      Kuwait Airways                    CGP
56998     British Airways                    SPD

                                    Dep Airport Name Arrival Airport Code  \
0                                Cox's Bazar Airport                  CCU
2               Osmani International Airport, Sylhet                  KUL
4                                    Saidpur Airport                  YYZ
7                                    Jessore Airport                  LHR
8                                    Saidpur Airport                  KUL
...                                              ...                  ...
56993           Osmani International Airport, Sylhet                  DXB
56994                                Saidpur Airport                  JFK
56995                                Jessore Airport                  CCU
56996  Shah Amanat International Airport, Chittagong                  CCU
56998                                Saidpur Airport                  YYZ

                                        Arr Airport Name  \
0      Netaji Subhas Chandra Bose International Airpo...
2                     Kuala Lumpur International Airport
4                  Toronto Pearson International Airport
7                                London Heathrow Airport
8                     Kuala Lumpur International Airport
...                                                  ...
56993                        Dubai International Airport
56994    John F. Kennedy International Airport, New York
56995  Netaji Subhas Chandra Bose International Airpo...
56996  Netaji Subhas Chandra Bose International Airpo...
56998              Toronto Pearson International Airport

      Departure Date & Time  Arrival Date & Time  Duration (hrs) Stopovers  \
0       2025-11-17 06:25:00  2025-11-17 07:38:10        1.219526    Direct
2       2025-12-13 12:03:00  2025-12-13 14:44:22        2.689651    1 Stop
4       2025-04-25 09:14:00  2025-04-25 23:17:20       14.055609    1 Stop
7       2025-12-28 01:38:00  2025-12-28 10:30:49        8.880376    1 Stop
8       2025-07-06 21:52:00  2025-07-07 01:09:46        3.296282    Direct
...                     ...                  ...             ...       ...
56993   2025-10-26 06:55:00  2025-10-26 11:08:17        4.221616    Direct
56994   2025-11-05 12:16:00  2025-11-06 01:55:15       13.654421    1 Stop
56995   2025-08-11 00:10:00  2025-08-11 00:40:00        0.500000    Direct
56996   2025-09-19 23:53:00  2025-09-20 01:09:30        1.275145    Direct
56998   2025-11-25 10:23:00  2025-11-26 00:20:37       13.960502    1 Stop

      Aircraft Type  ...  Booking Source      Seasonality  \
0       Airbus A320  ...  Online Website          Regular
2        Boeing 787  ...   Travel Agency  Winter Holidays
4       Airbus A350  ...  Direct Booking          Regular
7       Airbus A350  ...  Online Website  Winter Holidays
8        Boeing 787  ...   Travel Agency          Regular
...             ...  ...             ...              ...
56993    Boeing 737  ...   Travel Agency          Regular
56994   Airbus A350  ...  Direct Booking          Regular
56995   Airbus A320  ...  Online Website          Regular
56996   Airbus A320  ...  Online Website          Regular
56998   Airbus A350  ...  Direct Booking          Regular

      Days Before Departure      City Arr           Country Arr  \
0                        10       Kolkata                 India
2                        83  Kuala Lumpur              Malaysia
4                        90       Toronto                Canada
7                        12        London        United Kingdom
8                        23  Kuala Lumpur              Malaysia
...                     ...           ...                   ...
56993                    41         Dubai  United Arab Emirates
56994                     6      New York         United States
56995                    51       Kolkata                 India
56996                    31       Kolkata                 India
56998                    20       Toronto                Canada

            City Dep Country Dep Base Fare (EUR)  Tax & Surcharge (EUR)  \
0        Cox's Bazar  Bangladesh          179.62                  43.94
2      Sylhet Osmani  Bangladesh          339.00                 101.85
4            Saidpur  Bangladesh          503.57                 126.54
7            Jessore  Bangladesh          101.55                  66.23
8            Saidpur  Bangladesh          637.28                 146.59
...              ...         ...             ...                    ...
56993  Sylhet Osmani  Bangladesh         2222.41                 367.36
56994        Saidpur  Bangladesh          212.02                  82.80
56995        Jessore  Bangladesh          679.78                 118.97
56996     Chittagong  Bangladesh         1644.51                 263.68
56998        Saidpur  Bangladesh          347.68                 103.15

       Total Fare (EUR)
0                223.56
2                440.85
4                630.11
7                167.78
8                783.87
...                 ...
56993           2589.77
56994            294.82
56995            798.75
56996           1908.18
56998            450.83

[32897 rows x 21 columns]

In [21]:
print(len(sorted(df_flights["Country Arr"].dropna().unique())))
print(len(sorted(df_flights["Country Dep"].dropna().unique())))

10
1

In [22]:
# Find common cities in all three dataframes
common_cities = (
    set(df_restaurants["City"])
    .intersection(set(df_cities["City"]))
    .intersection(set(df_hotels["City"]))
)

print(common_cities)

{'Dubai', 'London'}

In [23]:
# Find common countries in all three dataframes
common_countries = (
    set(df_restaurants["Country"])
    .intersection(set(df_cities["Country"]))
    .intersection(set(df_hotels["Country"]))
)

print(common_countries)

{'United Kingdom', 'United Arab Emirates', 'United States', 'Turkey'}

In [24]:
# Filter all DataFrames to keep only rows where the "Country" column is in common_country
df_restaurants = df_restaurants[df_restaurants["Country"].isin(common_countries)]
df_cities = df_cities[df_cities["Country"].isin(common_countries)]
df_hotels = df_hotels[df_hotels["Country"].isin(common_countries)]

In [25]:
print(sorted(df_cities["Country"].dropna().unique()))
print(sorted(df_restaurants["Country"].dropna().unique()))
print(sorted(df_hotels["Country"].dropna().unique()))

['Turkey', 'United Arab Emirates', 'United Kingdom', 'United States']
['Turkey', 'United Arab Emirates', 'United Kingdom', 'United States']
['Turkey', 'United Arab Emirates', 'United Kingdom', 'United States']

In [26]:
# Get the unique country names from df_cities
valid_countries = set(df_cities["Country"])

# Filter df_flights to keep only rows where "Country Arr" exists in df_cities["Country"]
df_flights = df_flights[df_flights["Country Arr"].isin(valid_countries)]

# Print the filtered dataframe
print(df_flights)

                  Airline Departure Airport Code  \
7                 AirAsia                    JSR
11         Etihad Airways                    ZYL
23         Kuwait Airways                    DAC
24              Air India                    BZL
29     US-Bangla Airlines                    ZYL
...                   ...                    ...
56970      Cathay Pacific                    JSR
56975      Kuwait Airways                    BZL
56992             NovoAir                    CGP
56993  Singapore Airlines                    ZYL
56994     British Airways                    SPD

                                    Dep Airport Name Arrival Airport Code  \
7                                    Jessore Airport                  LHR
11              Osmani International Airport, Sylhet                  LHR
23     Hazrat Shahjalal International Airport, Dhaka                  IST
24                                   Barisal Airport                  DXB
29              Osmani International Airport, Sylhet                  DXB
...                                              ...                  ...
56970                                Jessore Airport                  LHR
56975                                Barisal Airport                  JFK
56992  Shah Amanat International Airport, Chittagong                  JFK
56993           Osmani International Airport, Sylhet                  DXB
56994                                Saidpur Airport                  JFK

                                      Arr Airport Name Departure Date & Time  \
7                              London Heathrow Airport   2025-12-28 01:38:00
11                             London Heathrow Airport   2026-01-10 22:44:00
23                                    Istanbul Airport   2025-03-14 22:46:00
24                         Dubai International Airport   2025-04-02 09:07:00
29                         Dubai International Airport   2026-02-08 02:14:00
...                                                ...                   ...
56970                          London Heathrow Airport   2025-03-28 15:28:00
56975  John F. Kennedy International Airport, New York   2025-05-21 14:33:00
56992  John F. Kennedy International Airport, New York   2025-09-27 10:34:00
56993                      Dubai International Airport   2025-10-26 06:55:00
56994  John F. Kennedy International Airport, New York   2025-11-05 12:16:00

       Arrival Date & Time  Duration (hrs) Stopovers Aircraft Type  ...  \
7      2025-12-28 10:30:49        8.880376    1 Stop   Airbus A350  ...
11     2026-01-11 06:49:51        8.097632    1 Stop   Airbus A350  ...
23     2025-03-15 05:31:58        6.766236    1 Stop    Boeing 777  ...
24     2025-04-02 13:15:12        4.136763    Direct    Boeing 787  ...
29     2026-02-08 06:12:14        3.970691    1 Stop    Boeing 737  ...
...                    ...             ...       ...           ...  ...
56970  2025-03-29 00:08:41        8.678093    1 Stop    Boeing 777  ...
56975  2025-05-22 05:12:27       14.657526    1 Stop    Boeing 777  ...
56992  2025-09-28 00:49:11       14.253156    1 Stop   Airbus A350  ...
56993  2025-10-26 11:08:17        4.221616    Direct    Boeing 737  ...
56994  2025-11-06 01:55:15       13.654421    1 Stop   Airbus A350  ...

       Booking Source      Seasonality Days Before Departure  City Arr  \
7      Online Website  Winter Holidays                    12    London
11      Travel Agency  Winter Holidays                    48    London
23     Direct Booking          Regular                    64  Istanbul
24     Direct Booking              Eid                    74     Dubai
29     Direct Booking  Winter Holidays                    90     Dubai
...               ...              ...                   ...       ...
56970  Direct Booking          Regular                    78    London
56975  Online Website          Regular                    85  New York
56992  Direct Booking          Regular                    32  New York
56993   Travel Agency          Regular                    41     Dubai
56994  Direct Booking          Regular                     6  New York

                Country Arr       City Dep Country Dep Base Fare (EUR)  \
7            United Kingdom        Jessore  Bangladesh          101.55
11           United Kingdom  Sylhet Osmani  Bangladesh          649.45
23                   Turkey          Dhaka  Bangladesh          789.78
24     United Arab Emirates        Barisal  Bangladesh         1118.10
29     United Arab Emirates  Sylhet Osmani  Bangladesh          760.75
...                     ...            ...         ...             ...
56970        United Kingdom        Jessore  Bangladesh          629.44
56975         United States        Barisal  Bangladesh          802.38
56992         United States     Chittagong  Bangladesh          296.01
56993  United Arab Emirates  Sylhet Osmani  Bangladesh         2222.41
56994         United States        Saidpur  Bangladesh          212.02

       Tax & Surcharge (EUR)  Total Fare (EUR)
7                      66.23            167.78
11                    148.42            797.87
23                    152.47            942.25
24                    201.72           1319.82
29                    148.11            908.86
...                      ...               ...
56970                 145.42            774.86
56975                 171.36            973.73
56992                  95.40            391.41
56993                 367.36           2589.77
56994                  82.80            294.82

[11979 rows x 21 columns]

In [27]:
print(sorted(df_flights["Country Arr"].dropna().unique()))

['Turkey', 'United Arab Emirates', 'United Kingdom', 'United States']

In [28]:
df_flights

,Airline,Departure Airport Code,Dep Airport Name,Arrival Airport Code,Arr Airport Name,Departure Date & Time,Arrival Date & Time,Duration (hrs),Stopovers,Aircraft Type,...,Booking Source,Seasonality,Days Before Departure,City Arr,Country Arr,City Dep,Country Dep,Base Fare (EUR),Tax & Surcharge (EUR),Total Fare (EUR)
7,AirAsia,JSR,Jessore Airport,LHR,London Heathrow Airport,2025-12-28 01:38:00,2025-12-28 10:30:49,8.880376,1 Stop,Airbus A350,...,Online Website,Winter Holidays,12,London,United Kingdom,Jessore,Bangladesh,101.55,66.23,167.78
11,Etihad Airways,ZYL,"Osmani International Airport, Sylhet",LHR,London Heathrow Airport,2026-01-10 22:44:00,2026-01-11 06:49:51,8.097632,1 Stop,Airbus A350,...,Travel Agency,Winter Holidays,48,London,United Kingdom,Sylhet Osmani,Bangladesh,649.45,148.42,797.87
23,Kuwait Airways,DAC,"Hazrat Shahjalal International Airport, Dhaka",IST,Istanbul Airport,2025-03-14 22:46:00,2025-03-15 05:31:58,6.766236,1 Stop,Boeing 777,...,Direct Booking,Regular,64,Istanbul,Turkey,Dhaka,Bangladesh,789.78,152.47,942.25
24,Air India,BZL,Barisal Airport,DXB,Dubai International Airport,2025-04-02 09:07:00,2025-04-02 13:15:12,4.136763,Direct,Boeing 787,...,Direct Booking,Eid,74,Dubai,United Arab Emirates,Barisal,Bangladesh,1118.10,201.72,1319.82
29,US-Bangla Airlines,ZYL,"Osmani International Airport, Sylhet",DXB,Dubai International Airport,2026-02-08 02:14:00,2026-02-08 06:12:14,3.970691,1 Stop,Boeing 737,...,Direct Booking,Winter Holidays,90,Dubai,United Arab Emirates,Sylhet Osmani,Bangladesh,760.75,148.11,908.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56970,Cathay Pacific,JSR,Jessore Airport,LHR,London Heathrow Airport,2025-03-28 15:28:00,2025-03-29 00:08:41,8.678093,1 Stop,Boeing 777,...,Direct Booking,Regular,78,London,United Kingdom,Jessore,Bangladesh,629.44,145.42,774.86
56975,Kuwait Airways,BZL,Barisal Airport,JFK,"John F. Kennedy International Airport, New York",2025-05-21 14:33:00,2025-05-22 05:12:27,14.657526,1 Stop,Boeing 777,...,Online Website,Regular,85,New York,United States,Barisal,Bangladesh,802.38,171.36,973.73
56992,NovoAir,CGP,"Shah Amanat International Airport, Chittagong",JFK,"John F. Kennedy International Airport, New York",2025-09-27 10:34:00,2025-09-28 00:49:11,14.253156,1 Stop,Airbus A350,...,Direct Booking,Regular,32,New York,United States,Chittagong,Bangladesh,296.01,95.40,391.41
56993,Singapore Airlines,ZYL,"Osmani International Airport, Sylhet",DXB,Dubai International Airport,2025-10-26 06:55:00,2025-10-26 11:08:17,4.221616,Direct,Boeing 737,...,Travel Agency,Regular,41,Dubai,United Arab Emirates,Sylhet Osmani,Bangladesh,2222.41,367.36,2589.77
56994,British Airways,SPD,Saidpur Airport,JFK,"John F. Kennedy International Airport, New York",2025-11-05 12:16:00,2025-11-06 01:55:15,13.654421,1 Stop,Airbus A350,...,Direct Booking,Regular,6,New York,United States,Saidpur,Bangladesh,212.02,82.80,294.82

In [29]:
import os

# Define the folder path
folder_path = "adjusted_datasets"

# Ensure the folder exists
os.makedirs(folder_path, exist_ok=True)

# Define the full file path
file_path_flight = os.path.join(folder_path, "adjusted_flights.csv")
file_path_restaurant = os.path.join(folder_path, "adjusted_restaurants.csv")
file_path_hotel = os.path.join(folder_path, "adjusted_hotels.csv")
file_path_city = os.path.join(folder_path, "adjusted_cities.csv")

# Save the DataFrame as a CSV file
df_hotels.to_csv(file_path_hotel, index=False, encoding='utf-8')
df_restaurants.to_csv(file_path_restaurant, index=False, encoding='utf-8')
df_cities.to_csv(file_path_city, index=False, encoding='utf-8')
df_flights.to_csv(file_path_flight, index=False, encoding='utf-8')

print(f"CSV file saved successfully at: {file_path_hotel}")
print(f"CSV file saved successfully at: {file_path_restaurant}")
print(f"CSV file saved successfully at: {file_path_city}")
print(f"CSV file saved successfully at: {file_path_flight}")

CSV file saved successfully at: adjusted_datasets\adjusted_hotels.csv
CSV file saved successfully at: adjusted_datasets\adjusted_restaurants.csv
CSV file saved successfully at: adjusted_datasets\adjusted_cities.csv
CSV file saved successfully at: adjusted_datasets\adjusted_flights.csv